<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/style.css" rel="stylesheet" />
    <title>Arcade Game</title>
</head>
<body>
    <header class="head_btn">
        <a href="signup.html"><button type="submit">Sign up</button></a>
        <a href="login.html"><button type="submit">Login</button></a>
    </header>

    <div class="welcome">
    <h1>Welcome to the Arcade</h1>
    <h4>Make a choice...... Which game will it be?</h4>
</div>
    <br><br>

    <div class="arcade-selection">
        <div class="select-rps">
            <h4>Play Rock-Paper-Scissors</h4>
            <img src="./images/rps.png" alt="">
            <h5>Highest Score: 0</h5>
        </div>
        
        <div class="select-gmn">
            <h4>Play Guess-My-Number</h4>
            <img src="./images/Guess My Number.jpeg" alt="">
            <h5>Highest Score: 0</h5>
        </div>
    </div>

    <div class="text-paragraph">
    <p>Choose a game to play betweenRock, Paper, and Scissors and Guess My Number. Enjoy unlimited play time.
    <br>Become and Arcade Master with the highest score in the Arcade Universe. <br>Login Play Now.
    </p>
</div>

    <footer>Mikail Ajibola Arcade Game. ALX C21 project. 2024</footer>
    
</body>
</html>