<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/style.css" rel="stylesheet" />
    <title>Rock paper & Scissors</title>
</head>
<body>
    <header>
        <a href=""><button type="">History</button></a>
        <a href=""><button type="">High score</button></a>
        <a href=""><button type="">Quit game</button></a>
    </header>

    <h1>Rock, Paper, Scissors</h1>

    <div>
        <div class="player_one">
            <h3>Player 1</h3>
            <div class="players_choice">
                <a href=""><img src="" alt="rock"></a>
                <a href=""></a><img src="" alt="paper"></a>
                <a href=""></a><img src="" alt="scissors"></a>
            </div>

            <p>Player 1 chose Rock</p>
        </div>

        <div class="computer">
            <h3>Player 1</h3>
            <div class="computers_choice">
                <a href=""><img src="" alt="rock"></a>
                <a href=""></a><img src="" alt="paper"></a>
                <a href=""></a><img src="" alt="scissors"></a>
            </div>
        </div>


    </div>
    
    <footer>Mikail Ajibola Arcade Game. ALX C21 project. 2024</footer>
</body>
</html>